@using System.Reflection
@using System.CodeDom
@using Lineweights.Workflows.Execution
@inherits ActivityRunnerComponentBase


<div class="mb-5 card parent">
  <header class="card-header">
    <p class="card-header-title" style="font-weight: normal;">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          @if (Builder.State is ActivityBuilder.AssemblySetState state1)
          {
            <li>
              <a @onclick="SetInitialState">@state1.AssemblyName</a>
            </li>
          }
          @if (Builder.State is ActivityBuilder.ActivitySetState state2)
          {
            <li>
              <a @onclick="SetAssembly">@state2.ActivityName</a>
            </li>
          }
          @switch (Builder.State)
          {
            case ActivityBuilder.ActivitySetState activitySetState:
            {
              <li class="is-active">
                <a>Set inputs</a>
              </li>
              break;
            }
            case ActivityBuilder.AssemblySetState assemblySetState:
            {
              <li class="is-active">
                <a>Select an activity</a>
              </li>
              break;
            }
            default:
              <li class="is-active">
                <a>Select an assembly</a>
              </li>
              break;
          }
        </ul>
      </nav>
    </p>
  </header>
  <div class="card-content">
    @foreach (Message message in Messages)
    {
      <MessageComponent Message="message"></MessageComponent>
    }
    @switch (Builder.State)
    {
      case ActivityBuilder.ActivitySetState activitySetState:
      {
        if (activitySetState.Inputs.Count == 0)
        {
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-narrow">
                  <article class="message">
                    <div class="message-body">
                      This activity has no inputs.
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        }
        <DynamicFormComponent Inputs="@activitySetState.Inputs" OnValidSubmit="@BuildAndExecute"></DynamicFormComponent>
        break;
      }
      case ActivityBuilder.AssemblySetState assemblySetState:
      {
        <div class="columns">
          <div class="column is-offset-2 is-8">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Activity</label>
              </div>
              <fieldset class="field-body">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select @bind="@ActivitySelectValue">
                        @foreach (string activity in assemblySetState.ActivityNames)
                        {
                          <option>@activity</option>
                        }
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button class="button is-primary" @onclick="@SetActivity">
                      <span>Load</span>
                      <span class="icon">
                        <i class="mdi mdi-arrow-right"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        break;
      }
      default:
        <div class="columns">
          <div class="column is-offset-2 is-8">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Loaded Assemblies</label>
              </div>
              <fieldset class="field-body">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select @bind="AssemblySelectValue">
                        @foreach (KeyValuePair<string, Assembly> assembly in AssemblySelectOptions)
                        {
                          <option>@assembly.Key</option>
                        }
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button class="button is-primary" @onclick="() => SetAssembly(AssemblySelectValue)">
                      <span>Load</span>
                      <span class="icon">
                        <i class="mdi mdi-arrow-right"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">By Path</label>
              </div>
              <fieldset class="field-body">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input" type="text" @bind="@AssemblyInputValue" placeholder="C:\Users\...\Elements.Tests.dll">
                  </div>
                  <div class="control">
                    <button class="button is-primary" @onclick="SetAssembly">
                      <span>Load</span>
                      <span class="icon">
                        <i class="mdi mdi-arrow-right"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        break;
    }
  </div>
</div>
