@inherits DynamicInputComponentBase

@switch (Type)
{
  case InputType.Unknown:
    <input type="number" step="any" @bind="ValueAsString" class="input @ValidationStatusClass" />
    break;
  case InputType.Number:
    <input type="number" step="any" @bind="ValueAsString" class="input @ValidationStatusClass" />
    break;
  case InputType.Text:
    <input type="text" @bind="ValueAsString" class="input @ValidationStatusClass" />
    break;
  case InputType.Select:
    <div class="select is-fullwidth">
      <select @bind="@ValueAsString">
        @foreach (string option in Options)
        {
          <option>@option</option>
        }
      </select>
    </div>
    break;
  case InputType.Checkbox:
    <label class="checkbox">
      <input type="checkbox" @bind="ValueAsBoolean" class="@ValidationStatusClass" />
    </label>
    break;
  default:
    <input type="text" @bind="ValueAsString" disabled="disabled" class="input @ValidationStatusClass" />
    break;
}
