@using System.Reflection
@inherits DynamicFormComponentBase


@for (int i = 0; i < Inputs.Count; i++)
{
  object inputs = Inputs.ElementAt(i);
  EditContext editContext = EditContexts.ElementAt(i);

  <EditForm class="columns is-multiline" EditContext="@editContext">
    <DataAnnotationsValidator/>

    @foreach (PropertyInfo property in inputs.GetType().GetProperties())
    {
    <div class="column is-3">
      <fieldset class="field">
        <label class="label">@property.Name</label>
        <div class="control is-expanded">
          <DynamicInputComponent Instance="@inputs" Property="@property"/>
        </div>
        @foreach (string message in GetValidationMessages(editContext, inputs, property.Name))
        {
          <p class="help is-danger">@message</p>
        }
      </fieldset>
    </div>
    }
  </EditForm>
}

<div class="field">
  <p class="control">
    <button class="button is-primary" onclick="@Submit" disabled="@(!IsValid)">
      <span>Execute</span>
      <span class="icon">
        <i class="mdi mdi-arrow-right"></i>
      </span>
    </button>
  </p>
</div>
