@inherits ViewerComponentBase

@if (Asset.Errors.Any())
{
  <TileComponent XScale="1" YScale="1" style="background: var(--mud-palette-error); color:  var(--mud-palette-error-text);">
    @foreach (string error in Asset.Errors)
    {
      <p>@error</p>
    }
  </TileComponent>
}

@switch (Type)
{
  case ViewerType.Three:
    <TileComponent XScale="1" YScale="1" Padding="false">
      <figure class="card-image" id="model-@ComponentId" style="width: 100%; height: 100%;"></figure>
    </TileComponent>
    break;
  case ViewerType.Image:
    <TileComponent XScale="0.5" YScale="0.5" Padding="false">
      <img src="@Asset.Info.Location" alt="@Asset.Info.Name" style="width: 100%; height: 100%; object-fit: contain; object-position: center;"/>
    </TileComponent>
    break;
  case ViewerType.Object:
    <TileComponent XScale="1" YScale="0.5" Padding="false">
      <object type="@Asset.ContentType" data="@Asset.Info.Location" style="width: 100%; height: 100%;"></object>
    </TileComponent>
    break;
  case ViewerType.Text:
    <TileComponent XScale="1" YScale="0.5">
      <div class="card-content">
        @Text
      </div>
    </TileComponent>
    break;
  case ViewerType.Table:
    <TileComponent XScale="1.5" YScale="0.5" Padding="false" Style="overflow: scroll">
      <MudSimpleTable Dense="true">
        @{
          IReadOnlyCollection<IReadOnlyCollection<string>> table = Table;
        }
        <thead>
        <tr>
          @foreach (string field in table.FirstOrDefault() ?? Array.Empty<string>())
          {
            <th>@field</th>
          }
        </tr>
        </thead>
        <tbody>
        @foreach (IReadOnlyCollection<string> row in table.Skip(1))
        {
          <tr>
            @foreach (string field in row)
            {
              <td>@field</td>
            }
          </tr>
        }
        </tbody>
      </MudSimpleTable>
    </TileComponent>
    break;
  case ViewerType.Json:
    <TileComponent XScale="1" YScale="0.5" Style="overflow: scroll">
      <code>
        <pre>@Text</pre>
      </code>
    </TileComponent>
    break;
  default:
    <TileComponent XScale="0.25" YScale="0.25" Style="display: flex; align-items: center; justify-content: center;">
      <MudIconButton Href="@Asset.Info.Location?.AbsolutePath"
                     Icon="@Icons.Custom.FileFormats.FileDocument"
                     Color="Color.Primary"
                     alt="@Asset.Info.Location?.Segments.Last()">
      </MudIconButton>
    </TileComponent>
    break;
}

<footer class="card-footer" style="display: none;">
  <p class="card-footer-item">
    @Title
  </p>
</footer>
